/*==== GOOGLE FONTS ====*/
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

/*==== CSS VARIABLES ====*/
:root{
    --header-height: 3rem;
    --font-semi: 400;
}

/*==== COLORS ====*/
:root{
    --bkg-color: #789;
    --text-color: #ffffff;
    --primary-color: #0d1d31;
    --nav-color: #ffffff00;
}

/*==== FONTS AND TYPOGRAPHY ====*/
:root{
    font-size: 18px;
    font-weight: 400;
    --title-font: 'Karla', sans-serif;
    --body-font: 'Inconsolata', monospace;
    --splash-font: 'Inconsolata', monospace;
    --h1-size: 2.9rem;
    --h2-size: 2.5rem;
    --h3-size: 1.75rem;
    --p-size: 1.25rem;
    --normal-font-size: 1rem; 
}

/*== Z INDEX ==*/
:root{
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --h1-size: 3.5rem;
        --h2-size: 3rem;
        --h3-size: 2.5rem;
        --p-size: 1.25rem;
    }
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*===== HOVER =====*/
.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.3);
}

.sliding-underline{
    position: relative;
    display: inline-block;
    font-size: (var(--h3-size));
    font-weight: 400;
    text-align: center;
  }
  
  .sliding-underline::after{
    content: "";
    position: absolute;
  }
  
  .sliding-underline::after{
      top: 100%;
      height: 2px;
      width: 0%;
      left: 0%;
      background-color: rgba(255, 255, 255, 0.6);
      transition: 0.5s ease all .3s;
    }
  
  .nav-item:hover .sliding-underline::after{
      width: 100%;
      transition: 0.3s;
    }  

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
    }
  
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--p-size);
    font-weight: 400;
    background-color: var(--bkg-color);
}
  
h1{
    font-family: var(--title-font);
    font-size: var(--h1-size);
    color: var(--text-color);
    line-height: 5rem;
}

.typewriter h1 {
    overflow: hidden;
    border-right: 0.075em solid var(--primary-color);
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.12em;
    
    animation:
        animated-text 2.7s steps(30,end),
        animated-cursor 1000ms steps(30,end) infinite;
    animation-delay: 2.5s;
  }
  .typewriter {
        display: inline-flex;
  }
  @keyframes animated-text {
    from{width: 0;}
    to{width: 460px;}
  }
  @keyframes animated-cursor{
    from{border-right-color: var(--primary-color);}
    to{border-right-color: transparent;}
  }
  
h2{
    font-family: var(--title-font);
    font-size: var(--h2-size);
    color: var(--text-color);
    margin-bottom: 2rem;
    line-height: 4rem;
}

h3{
    font-family: var(--title-font);
    font-size: var(--h3-size);
    line-height: 4rem;
}

p{
  font-size: var(--p-size);
  color: var(--text-color);
  line-height: 2.5rem;
}

.navbar-brand{
    font-size: var(--p-size);
}

a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--p-size);
}

img{
    max-width: 100%;
    height: auto;
}

a:link{
    color: var(--primary-color);
    background-color: transparent;
}

a:hover{
    color:#1f3d91;
    
    background-color: transparent;
}

a:active{
    text-shadow: 4px 4px 10px var(--color2-dropshadow);
    background-color: transparent;
}

/* Solid border */
.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px #F8C6DA;
  }

/*===== LAYOUT =====*/

/*===== NAV =====*/
.icon{
    height: 10rem;
    float: left;
    margin-right: 1rem;
    margin-top: -5rem;
    
    
}

.navbar-brand{
    float: left;
    
}

.custom-navbar{
    padding: var(--header-height);
    
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
    color: var(--text-color);
}

.nav__link{
    cursor: pointer;
    color: var(--text-color);
}

.nav__toggle{
    margin-top: 16px;
    font-size: 2.5rem;
    cursor: pointer;
}

.nav__logo{
    position: absolute;
    width: 70px;
    
}

/*=== Show menu ===*/
.show{
    right: 0;
}

/*===== HOME =====*/
#home{
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.home-desc{
    margin-bottom: 4rem;
}
/*==== ABOUT ====*/
.about-img{
    margin-top: 2rem;
}

.about-subtitle{
    color:var(--primary-color);
}

.about-text{
    color: #eef5ff;
}

/*====ENGINEERING====*/
.work {
    position: relative;
}

.work .serv-content .card{
    width: 500px;
    height: 400px;
    background: #efefef;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.work .serv-content .card:hover{
    background: #082536;
    content: "";
}
.work .serv-content .card:hover::after{
    content: "";
}

.work .serv-content .card:hover .box{
    transform: scale(1.05);
}

.work .serv-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.work .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 50px 0 7px 0;
}

.card{
    position: relative;
}

.card-content {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    background-color: #082536;
    display: none;
    color:#fbfeff;
    text-align: center;
}

.card:hover .card-content 
{
    display: block;
    z-index:11;
    border-radius: 6px;
    margin-top: 27px;
}

.card:hover .card-content1 {
    display: block;
    z-index:11;
    border-radius: 6px;
}

.card-content2{
    position: absolute;
    margin: 0;
    top: 111px;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    background-color: #efefef;
    opacity:0.98;
    display: none;
}
    
.card:hover .card-content2 {
    display: block;
    z-index:11;
    border-radius: 6px;
    color:black;
}   

a:hover{
    -webkit-text-fill-color: white;
}

.box .text:hover{
    -webkit-text-fill-color: white;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9e9e9;
    padding: 5px;
    border-radius:6px;
}

.card-info {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 26px;
    margin-right: 7px;
    padding: 11px;
}

/*==== PROJECTS ====*/
#projects{
    padding-bottom: 6rem;
}

.project{
    position: relative;
    padding: 0;
    margin-bottom: 3rem;
}

.img{
    display: block;
    padding: 0;
    height: auto;
  }

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}

.overlay:hover > *{
    transform: translateY(0);
}

.overlay:hover{
    opacity: 1;
}

.overlay-title{
    color: white;
}
.overlay-text{
    color: white;
}

/*==== CONTACT ====*/
.contact__title{
    color:#0d1d31;
}

/* ===== FOOTER =====*/
.footer-text{
    padding: 0.5rem;
    color: var(--primary-color);
}

.footer{
    margin-top: 10rem;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color:var(--primary-color);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 100px;
    font-family: var(--splash-font);
}

.logoIntro{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logoIntro.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logoIntro.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}

.contact__icons > a{
    text-decoration: none;

}

.spotify-button {
    position: relative;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.spotify-button::before{
    position: absolute;
    content: "";
    z-index: -1;
    text-decoration: none;
}

.spotify-button:hover{
    background: #1DB954;
    border-radius: 5px;
    box-shadow: 0 0 5px #1DB954, 0 0 25px #1DB954, 0 0 50px #1DB954, 0 0 200px #1DB954;
    text-decoration: none;
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
   
    .work .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }

    .work .serv-content .card{
        width: 100%;
    }
}